.ListContact__wrapper {
    position: absolute;
    top: 0;
    left: calc(50% - 320px);
    width: 640px;
    height: 100%;
    overflow: scroll;
}

.ListContact__wrapper .title {
    font-family: 'Montserrat';
    text-align: center;
    color: #039;
    font-size: 24px;
}

.ListContact__wrapper .list__contacts {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ListContact__wrapper .list__contacts li {
    color: #669;
    padding: 10px 15px 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat Light';
    border-bottom: #e8edff 1px solid;
}

.list__contacts li button {
    font-family: 'Montserrat Light';
    width: 60px;
}

.list__contacts li button:first-child {
    margin: 0 10px 0 0;
}

.add__contact {
    position: absolute;
    top: 30px;
    right: 15px;
    font-family: 'Montserrat Light';
}