.ErrorPage {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ErrorPage p {
    width: 100%;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 20px;
}

.ErrorPage img {
    position: absolute;
    width: 60%;
    bottom: 0;
}